@model IEnumerable<FinalProject.Models.Branches>

@{
	ViewBag.Title = "Index";
}
@if (User.Identity.Name.Equals("admin@gmail.com"))
{

	<h2>Branches</h2>

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.BranchName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Country)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.HouseNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Street)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Saturday)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BranchNumber)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.BranchName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Country)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HouseNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Street)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Saturday)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BranchNumber)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Details", "Details", new { id = item.ID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.ID })
				</td>
			</tr>
		}

	</table>
}

@using (Ajax.BeginForm("BranchSearch", "Branches",
		new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }))
{
	<h3>Search:</h3>
	<dl class="dl-horizontal">
		<dt>
			Branch name :
		</dt>

		<dd>
			@Html.TextBox("branchname", null, new { id = "branchname" })
		</dd>

		<dt>
			Country :
		</dt>

		<dd>
			@Html.TextBox("country", null, new { id = "country" })
		</dd>

		<dt>
			Open on Saturday :
		</dt>

		<dd>
			@Html.CheckBox("saturday")
		</dd>
	</dl>

		<input type="submit" value="Search" class="btn btn-primary" />
		<hr>
}
		<div id="searchResults">
			@Html.Partial("~/Views/Branches/BranchSearch.cshtml")
		</div>

			
			<h2>Google Maps - Branches location</h2>
			<div id="map" style="width: 700px; height: 500px;"></div>
			

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2wNrayut12HbtkTXZ-TN4dS1tDlywsLE&callback=initMap"
		async defer></script>
	<script>

		function initMap() {
			var geocoder;
			var map;
			geocoder = new google.maps.Geocoder();
			var uluru = { lat: 31.974 ,lng: 34.791 };
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 10,
				center: uluru
			});

			var infowindow = new google.maps.InfoWindow();

		 var branches = @Html.Raw(Json.Encode(Model));
   		 for (var i = 0; i < branches.length; i++) {
					 var branch = branches[i];
					 var address = branch.City + branch.Street +' '+ branch.HouseNumber  ;		

				geocoder.geocode({ address: address }, function (results, status) {

					if (status == google.maps.GeocoderStatus.OK) {

						var myResult = results[0].geometry.location; // reference LatLng value

						var marker = new google.maps.Marker({
							position: myResult,
							map: map
						});

						google.maps.event.addListener(marker, 'click', function () {
							infowindow.setContent('<div><strong>' + branch.BranchName + '</strong><br>' +
													results[0].formatted_address + '</div>');
							infowindow.open(map, this);
						});
					}
				});
				 }

		}
		
	</script>
	
		
	



	<html>
		<head>
			<title>Your Website Title</title>
			<!-- You can use Open Graph tags to customize link previews.
			Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
			<meta property="og:url" content="http://www.your-domain.com/your-page.html" />
			<meta property="og:type" content="website" />
			<meta property="og:title" content="Your Website Title" />
			<meta property="og:description" content="Your description" />
			<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />
		</head>
		<body>
			<!-- Load Facebook SDK for JavaScript -->
			<div id="fb-root"></div>
			<script>
(function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
			<!-- Your share button code -->
			<div class="fb-share-button"
				 data-href="http://www.your-domain.com/your-page.html"
				 data-layout="button_count">
			</div>
		</body>
	</html>
