@model FinalProject.Models.ViewModle
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen" />


<MostP>
    <div class="product-card">

        <div class="product-image">
            <img src="@Html.DisplayTextFor(modelItem => Model.Products.Image)" width="200" height="150">
        </div>

        <div class="product-info">
            <h2>@Html.DisplayFor(model => Model.Products.ProductName)</h2>
            <h3>
                Description - @Html.DisplayFor(model => Model.Products.Description)<br>
                Brand - @Html.DisplayFor(model => Model.Products.Brand)<br>
                Inches - @Html.DisplayFor(model => Model.Products.Inches)<br>
                Resolution - @Html.DisplayFor(model => Model.Products.Resolution)<br>
                RefreshRate - @Html.DisplayFor(model => Model.Products.RefreshRate)<br>
                Panel - @Html.DisplayFor(model => Model.Products.Panel)<br><br>
                <price>
                    Price - @Html.DisplayFor(model => Model.Products.Price)
                </price>
            </h3>
        </div>
    </div>


    @using (Html.BeginForm("CreateBuy", "Buys", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Buys.ProductsID, "PostID", htmlAttributes: new { @class = "hidden" })
                @Html.HiddenFor(model => model.Buys.ProductsID, new { Value = @Model.Products.ID })
                <div class="col-md-10">

                    @Html.ValidationMessageFor(model => model.Buys.MembersID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Buys.MembersID, "PostID", htmlAttributes: new { @class = "hidden" })
                @Html.HiddenFor(model => model.Buys.MembersID, new { Value = @User.Identity.GetUserId() })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Buys.MembersID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Buys.PriceBought, "PostID", htmlAttributes: new { @class = "hidden" })
                @Html.HiddenFor(model => model.Buys.PriceBought, new { Value = @Model.Products.Price })

            </div>

            <div class="form-group">
                <div align="center">
                  <b>Are you sure ?</b>  
                    <input type="submit" value="Buy" class="btn btn-default" />
                </div>
            </div>

        </div>

        <br /><br />

    }
</MostP>
    <br />
    <div>
        <OtherProducts>
			@Html.ActionLink("Back to home page", "Index", "Home")
        </OtherProducts>
    </div>
<br />
    <Intrest>
    <headline>You also might be interested in: </headline>
    </Intrest>
        @{
            Html.RenderAction("RelatedProduct", new { id = Model.Products.ID });
        }



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
