@model IEnumerable<FinalProject.Models.Buys>

@{
    ViewBag.Title = "Index";
}

@if (User.Identity.Name.Equals("admin@gmail.com"))
{

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MembersID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceBought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBought)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Products.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembersID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceBought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBought)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
}
else
{

}