@model FinalProject.Models.ViewModle
@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="~/Content/IstoreCSS.css" type="text/css" media="screen" />

<h3>Search:</h3>

@using (Ajax.BeginForm("ProductSearch", "Products",
                                            new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }))
{
    <dl class="dl-horizontal">

        <dt>
            Product name :
        </dt>

        <dd>
            @Html.TextBox("ProductName", null, new { id = "ProductName" })
        </dd>

        <dt>
            Brand :
        </dt>

        <dd>
            @Html.TextBox("Brand", null, new { id = "Brand" })
        </dd>

        <dt>
            Inches :
        </dt>

        <dd>
            @Html.TextBox("Inches", null, new { id = "Inches" })
        </dd>


    </dl>

    <input type="submit" value="Search" class="btn btn-primary" />
    <hr>
}

@Html.Partial("~/Views/Buys/MostPopular.cshtml");

<div id="searchResults">

    @*@Html.Partial("~/Views/Products/ProductSearch.cshtml");*@

    <section class="products">

        @foreach (var item in Model.Product)
        {
		<!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

            <div class="product-card">
                <div class="product-image">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" width="200" height="150">
                </div>
                <div class="product-info">
                    <h2>@Html.DisplayFor(model => item.ProductName)</h2>
                    <h3>
                        Description - @Html.DisplayFor(model => item.Description)<br>
                        Brand - @Html.DisplayFor(model => item.Brand)<br>
                        Inches - @Html.DisplayFor(model => item.Inches)<br>
                        Resolution - @Html.DisplayFor(model => item.Resolution)<br>
                        RefreshRate - @Html.DisplayFor(model => item.RefreshRate)<br>
                        Discount- @Html.DisplayFor(model => item.Discount)<br>
                        <p class="price">Price - @Html.DisplayFor(model => item.Price)</p>
                    </h3>
                </div>
                <p>
                    <button class="button button1" onclick="location.href='@Url.Action("CreateBuy", "Buys", new { id = @Html.DisplayFor(model => item.ID) })'">BUY!</button>
                </p>
            </div>
            <hr>}
        <!-- more products -->

    </section>

    <section class="stocks">
        <h4>Stocks - @DateTime.Now</h4>
        <h3 id="stockText"></h3>
        <script>

            getData();

            function getData() {
//                var company = 'AAPL';
//                var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(\"' + company + '\")&format=json&env=store:%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
                var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
                $.getJSON(url)
                    .done(function (data) {
                        console.log(data);
                        $('#stockText').text("Price: " + data.query.results.quote.LastTradePriceOnly);
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.log('Request failed: ' + err);
                    });
            }

            /**
             *  var company = 'AAPL';

            function changeCompany(name) {
                if (name) {
                    company = name;
                }
            }

            changeCompany();

            var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(\"' + company + '\")&format=json&env=store:%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
            console.log(url);


            $.getJSON(url, function (data) {
                var _return = JSON.parse(data);
                var totalReturned = _return.query.count;
                //OR: var totalReturned = _return.query.results.quote.length;
                debugger;
                for (var i = 0; i < totalReturned; ++i) {
                    var stock = _return.query.results.quote[i];
                    var symbol = stock.symbol;
                    var percent_change = stock.Change_PercentChange;
                    var changeRealTime = stock.ChangeRealtime;
                }

                function formatItem() {
                    return symbol + ': $' + stock + ' +' + changeRealTime + ' (+' + percent_change + '%)';
                }


                document.getElementById("stockText").innerHTML = formatItem();
            });
             */

           

        </script>

    </section>


</div>
