@model FinalProject.Models.ViewModle
@{
	ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link rel="stylesheet" href="~/Content/IstoreCSS.css" type="text/css" media="screen" />

<h3>Search:</h3>

@using (Ajax.BeginForm("ProductSearch", "Products",
					new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }))
{
		<dl class="dl-horizontal">

		<dt>
			Product name :
		</dt>

		<dd>
			@Html.TextBox("ProductName", null, new { id = "ProductName" })
		</dd>
		
		<dt>
			Brand :
		</dt>

		<dd>
			@Html.TextBox("Brand", null, new { id = "Brand" })
		</dd>

		<dt>
		Inches :
	</dt>

	<dd>
		@Html.TextBox("Inches", null, new { id = "Inches" })
	</dd>
	
	
	</dl>

	<input type="submit" value="Search" class="btn btn-primary" />
		<hr>
}

@Html.Partial("~/Views/Buys/MostPopular.cshtml");

<div id="searchResults">

	@*@Html.Partial("~/Views/Products/ProductSearch.cshtml");*@

	<section class="products">

		@foreach (var item in Model.Product)
			{
		<!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

			<div class="product-card">
				<div class="product-image">
					<img src="@Html.DisplayFor(modelItem => item.Image)" width="200" height="150">
				</div>
				<div class="product-info">
					<h2>@Html.DisplayFor(model => item.ProductName)</h2>
					<h3>
						Description - @Html.DisplayFor(model => item.Description)<br>
						Brand - @Html.DisplayFor(model => item.Brand)<br>
						Inches - @Html.DisplayFor(model => item.Inches)<br>
						Resolution - @Html.DisplayFor(model => item.Resolution)<br>
						RefreshRate - @Html.DisplayFor(model => item.RefreshRate)<br>
						Discount- @Html.DisplayFor(model => item.Discount)<br>
						<p class="price">Price - @Html.DisplayFor(model => item.Price)</p>
					</h3>
				</div>
				<p>
					<button class="button button1" onclick="location.href='@Url.Action("CreateBuy", "Buys", new { id = @Html.DisplayFor(model => item.ID) })'">BUY!</button>
					</p>
			</div>
			<hr>
			}
		<!-- more products -->

	</section>

    <section class="stocks">
        <h4>Apple Stock - @DateTime.Now</h4>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>
            var uri = 'api/products'; //TODO: CHANGE THIS TO THE YAHOO API:  http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22AAPL%22)&env=store://datatables.org/alltableswithkeys

            $(document).ready(function () {
                // Send an AJAX request
                $.getJSON(uri)
                    .done(function (data) {
                        // On success, 'data' contains a list of products.
                        $.each(data, function (key, item) {
                            // Add a list item for the product.
                            $('<li>', { text: formatItem(item) }).appendTo($('#products'));
                        });
                    });
            });

            function formatItem(item) {
                return item.Name + ': $' + item.Price + ' +' + item.ChangeDbl + ' (+' + item.ChangePct + '%)';
            }

            function find() {
                var id = $('#prodId').val();
                $.getJSON(uri + '/' + id)
                    .done(function (data) {
                        $('#product').text(formatItem(data));
                    })
                    .fail(function (jqXHR, textStatus, err) {
                        $('#product').text('Error: ' + err);
                    });
            }
        </script>
       
    </section>


</div>

	

	







