@model IEnumerable<FinalProject.Models.Products>

@{
	ViewBag.Title = "Index";
}
@if (User.Identity.Name.Equals("admin@gmail.com"))
{


<h2>Products</h2>



using (Html.BeginForm())
{
	<p>
		<b>Filter :</b><br />
		<b>Product Name -</b> @Html.TextBox("SearchString")<br />
		<b>	Brand -</b> @Html.TextBox("Brand")<br />
		<b>	Inches - </b>@Html.TextBox("Inches")<br />

					<input type="submit" value="Search" />
</p>
}
<p>
	@Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefreshRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefreshRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
	}


<section class="products">

	@foreach (var item in Model)
			{
		<!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

		<div class="product-card">
			<div class="product-image">
				<img src="@Html.DisplayFor(modelItem => item.Image)" width="200" height="150">
			</div>
			<div class="product-info">
				<h2>@Html.DisplayFor(model => item.ProductName)</h2>
				<h3>
					Description - @Html.DisplayFor(model => item.Description)<br>
					Brand - @Html.DisplayFor(model => item.Brand)<br>
					Inches - @Html.DisplayFor(model => item.Inches)<br>
					Resolution - @Html.DisplayFor(model => item.Resolution)<br>
					RefreshRate - @Html.DisplayFor(model => item.RefreshRate)<br>
					Discount- @Html.DisplayFor(model => item.Discount)<br>
					<p class="price">Price - @Html.DisplayFor(model => item.Price)</p>
				</h3>
			
			</div>
			<p>
				<button class="button button1" onclick="location.href='@Url.Action("CreateBuy", "Buys", new { id = @Html.DisplayFor(model => item.ID) })'">BUY!</button>
				
			</p>
		</div>
			<hr>
			}
	<!-- more products -->

</section>
